* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
}
.top-header {
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #979696;
  position: fixed;
  background-color: white;
}

.logo-header {
  height: 50px;
  width: 190px;
}

.font-type {
  font-family: arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-bottun {
  border: 0px;
  border-color: white;
  font-size: 14px;
  font-weight: bold;
  color: #bab6b6;
  background-color: white;
  padding-top: 10px;
  text-transform: uppercase;
  width: 260px;
  letter-spacing: 0.8px;
  justify-content: center;
  align-items: start;
}

.down-arrow {
  height: 10px;
  width: 13px;
  padding: 2.5%;
}

.mid-header {
  width: 90%;
  height: auto;
  margin: 100px 10px;
  display: grid;
  grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end];
  align-items: center;
  justify-items: center;
}

.mid-header-pic {
  width: 300px;
  height: 300px;
  justify-self: end;
}
.header-grid-dim {
  max-width: 480px;
  max-height: 480px;
}

.left-side-header {
  gap: 15px;
}

.flex-column {
  flex-direction: column;
}
.mid-header-title {
  text-align: center;
  margin-bottom: 30px;
}

.selection-bottuns {
  width: 330px;
  height: 50px;
  letter-spacing: 0.8px;
  text-align: center;
  align-self: center;
  align-content: center;
  text-decoration: none;
  color: #f5f0f0;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.get-started {
  background-color: #58cc02;
  box-shadow: 2px 4px 10px #04891ca9;
}
.get-started:hover {
  background-color: #0ce534a9;
}

.have-account {
  background-color: #fffdfd;
  color: #0070f8;
  border: 0.5px solid #d6d5d5;
  box-shadow: 2px 4px 10px #4e4d4d33;
}
.have-account:hover {
  background-color: #d6d5d5;
}
.flag-dim {
  width: 36px;
  height: 30px;
  border-radius: 5px;
}

.list {
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  scrollbar-width: thin;
  width: 75%;
  align-self: center;
}

.item-name {
  width: max-content;
  align-self: center;
  text-align: center;
  padding-left: 10px;
}

.bottum-header {
  height: 100px;
  align-items: center;
  width: 100%;
  letter-spacing: 0.8px;
  color: #a29f9f;
  font-weight: bold;
  border-top: 2px solid #050505;
  border-bottom: 2px solid #050505;
  justify-content: center;
}

.main-body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  
}
.first-section {
  max-width: 100%;
  gap: 5em;

}
.first-section-article {
  align-items: center;
  gap: 12.5em;
  
}
.first-section-article div{
    width: 400px;
    padding-left: 20px;
}
.first-section-article h2{
    font-size: 2.6em;
    color: #58cc02;
    padding-bottom: 10px;
}

.first-section-article a{
    text-decoration: none;
    font-weight: bold;
}
.first-section-article p{
    color: #666565;
}

.first-section-article img{
    height: auto;
    width: 400px;

}

.first-section-article:nth-of-type(even){
    flex-direction: row-reverse;
}
